<!doctype html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Phần mềm nhận diện tiếng nói</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="./static/js/popper.min.js" ></script>
<link rel="stylesheet" href="./static/bootstrap/css/bootstrap.min.css">
<script src="./static/js/jquery-3.6.0.min.js"></script>
<script src="./static/bootstrap/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="#">
<script src="./static/js/jquery-3.6.0.js"></script>
<script src="./static/js/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="./static/style.css">
<style type="text/css">
</style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>