{% extends "base.html" %}
{% block content %}
<div class="wrapper">
  <div class="container" style="background-color: #d0e6ef;position: fixed; top: 0;">
    <h2 class="text-center" style="margin-top: 30px;">PHẦN MỀM NHẬN DẠNG TIẾNG NÓI</h2>
    <div >
        <div class="row" id="menu">
            <ul>
            <li><a href="/">Tải từ máy tính</a></li>
            <li><a href="/tab">Ghi Âm</a></li>
            </ul>
          </div>
    </div>
    <div class="row"  >
      <div style="background-color: white; height: 45px; text-align: center; padding-top: 0px;"
       class="col-2 float-right ">
        <span id="tracktime"> 00.00 / 00.00</span><br>
        <span style="font-size: 13px;">{{file_audio.split("/")[-1]}}</span>
      </div>
        <div class="col-9 text-center">
            <audio id="audioSong" class="audio_hide" controls 
            ontimeupdate="document.getElementById('tracktime').innerHTML = formatCurrentTime(this.currentTime) + ' / ' + formatCurrentTime(Math.floor(this.duration));">
                <source src="{{file_audio}}" id="srcSong" />
            </audio>
          </div>
        <div class="col-1 sidenav hidden-xs">
          <ul class="nav nav-pills nav-stacked">
              <li class="activeStartPause">
              <span onclick="playSong();" class="activeAction">Phát</span>
              </li>
              <hr>
          </ul>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 220px;">
      <div class="row">
        <table id="mytable" style="background-color: white; width: 98%;" class="table table-bordered">
            <thead>
              <tr>
                <th style="text-align: center; width: 30%;"  scope="col">Thời gian</th>
                <th style="text-align: center; width: 60%;" scope="col">Câu</th>
                <th style="text-align: center; width: 10%;" scope="col">Đoạn âm</th>

              </tr>
            </thead>
            <tbody>
            {% for line in lyrics %}
            <tr class="row_table">
            <td  contenteditable='false'>{{line.split(']')[0].replace('[', '')}}</td>
            <td contenteditable='true'>{{line.split(']')[1]}}</td>
            <td contenteditable='false'><button style="width: 80px;" id="button_{{loop.index}}" onclick="playPartSong({{loop.index}});" class="btn btn-info">Phát</button></td>
            </tr>
            </tbody>
            {%endfor%}
        </table>
      </div>

  </div>
  <a style="width: 120px;" href="#" type="submit" onclick="edit()" class="btn btn-primary">Lưu lại</a>

</div>
<footer>
</footer>
<script>
function set_time(index) {
  console.log(index);
}

function formatCurrentTime(time) {
  var seconds = Math.floor(time);
  var ms = Math.floor(time * 1000);
  if (seconds < 10) {
    seconds = "0" + seconds;
  }
  if (ms < 10) { // 0
    ms = "0" + ms;
  }
  if (10 <= ms < 100) { //00
    var convMsToString = ms.toString().slice(0);
    ms = "0" + convMsToString;
  }
  if (100 <= ms < 1000) { //000
    var convMsToString = ms.toString().slice(-3, -1);
    ms = convMsToString;
  }
  return  seconds + '.' + ms;
}


function edit() {
    var table = document.getElementById('mytable');
    var newArr = new Array();
    for (var r = 1, n = table.rows.length; r < n; r++) {
      var text1 = table.rows[r].cells[0].innerHTML.trim()
      var text2 = table.rows[r].cells[1].innerHTML.trim()
      text2 = text2.replaceAll("&nbsp;", "").replaceAll("<br>", "").trim();
      // console.log(text2);
      newArr.push('['+text1+']'+ text2 );

    };
    // console.log(newArr);
    var sendInfo = {
        lyrics: newArr
    };
    var classify = "{{classify}}";
    $.ajax({
            url: '/edit_lyrics?classify=' + classify,
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            success: function (response) {
                console.log(response);
                window.location.href = "/save_edit?classify="+classify
            },
            error: function (response) {
                console.log(response);
                //save_edit?classify={{classify}}
            },
            data: JSON.stringify(sendInfo)
        });
}
</script>
<script>

function playPartSong(index) {
  var actStartPause = document.querySelectorAll(".activeStartPause");
  audio = document.getElementById('audioSong');
  var row_table = document.getElementsByClassName("row_table");
  var table = document.getElementById('mytable');
  var row_table = document.getElementsByClassName("row_table")
  for (let i = 0; i < row_table.length; i++) {
    row_table[i].style.color = "black";
  }
  var start = ""
  var end = ""
  var newArr = new Array();
  for (var r = 1, n = table.rows.length; r < n; r++) {
    if (r == index){
      row_table[r-1].style.color = "#FF4000";
      start = table.rows[r].cells[0].innerHTML.trim().split(',')[0];
      end = table.rows[r].cells[0].innerHTML.trim().split(',')[1];
      audio.currentTime= parseFloat(start);
      console.log(start);
      audio.play();
    }
  }
  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="pauseSong();" class="activeAction">Dừng</span>';
  }
  setTimeout(function(){
    runLyric(start, end);
  }, 200); 
  
}

function playSong() {

  var actStartPause = document.querySelectorAll(".activeStartPause");
  document.getElementById('audioSong').play();

  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="pauseSong();" class="activeAction">Dừng</span>';
  }

}

function reloadPage(forceGet) {
  location.reload(forceGet);
}

function pauseSong() {
  var row_table = document.getElementsByClassName("row_table")
  for (let i = 0; i < row_table.length; i++) {
    row_table[i].style.color = "black";
  }
  document.getElementById("audioSong").pause();
  var actStartPause = document.querySelectorAll(".activeStartPause");
  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Phát</span>';
  }
}

function runLyric(start, end) {
  // clearInterval(intervalObj);
  var myAudio = document.getElementById("audioSong");
  var row_table = document.getElementsByClassName("row_table")
  for (let i = 0; i < row_table.length; i++) {
    row_table[i].addEventListener("click", function(){
      clearInterval(intervalObj);
      console.log("clearInterval1");
    });
  }
  myAudio.addEventListener("ended", function(){
    // console.log(str);
    document.getElementById("audioSong").pause();
    var actStartPause = document.querySelectorAll(".activeStartPause");
    for (let i = 0; i < actStartPause.length; i++) {
      actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Phát</span>';
    }
    clearInterval(intervalObj);
    console.log("clearInterval5");
  });
  // console.log("fsdfds");
  var intervalObj = setInterval(function(){
    var getCurrentTime = parseFloat(myAudio.currentTime);
    if (getCurrentTime > end){
      myAudio.pause();
      for (let i = 0; i < row_table.length; i++) {
        row_table[i].style.color = "black";
      }
      var actStartPause = document.querySelectorAll(".activeStartPause");
      for (let i = 0; i < actStartPause.length; i++) {
        actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Phát</span>';
      }
      clearInterval(intervalObj);
    }
  }, 5)
}

</script>
{% endblock %}