<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="wrapper">
    <h2 class="text-center" style="margin-top: 20px;">PHẦN MỀM NHẬN DẠNG TIẾNG NÓI</h2>
    <div class="container" style="margin-top: 10px;">
        <div id="menu">
            <ul>
            <li><a href="/">Tải từ máy tính</a></li>
            <li><a href="/tab">Ghi Âm</a></li>
            </ul>
          </div>
    </div>

    <div style="margin-top: 0px;" class="container">
        <div class="row">
            <div class="col-6">
                <form name="inputFileMedia" action="/detect_upload" method="POST" enctype="multipart/form-data">
                    <div class="file-upload">
                        <div class="file-select">
                          <div class="file-select-button" id="fileName">Chọn File</div>
                          <div class="file-select-name" id="noFile">Chưa có file nào được chọn...</div> 
                          <!-- <input type="file" name="chooseFile" id="chooseFile"> -->
                          <input type="file" class="form-control" rows="5" name="songImport" required id="fileSong" accept="audio/*|video/*">
                        </div>
                      </div>
                    <div class="form-group">
                        <!-- <label for="songImport">Name(.mp3)<span class="setCorlorRed">*</span> :</label> -->
                        <div id="spaceInputSong">
                          <!-- <input type="file" class="form-control " rows="5" name="songImport" required id="fileSong" accept="audio/*"> -->
                        </div>
                      </div>
                      <button class="btn btn-primary" onclick="notifile()" id="submit" style="width: 150px;" type="submit">Nhận dạng</button>
                </form>
                
            </div>
            <div class="col-1 sidenav hidden-xs">
                <ul class="nav nav-pills nav-stacked">
                    <li class="activeStartPause">
                    <span onclick="playSong();" class="activeAction">Phát</span>
                    </li>
                    <hr>
                </ul>
            </div>
            <div class="col-5 text-center">
                <audio id="audioSong" controls>
                    <source src="{{file_audio}}" id="srcSong" />
                  </audio>
            </div>
        </div>
        <h3 style="text-align: center;">Đoạn văn được dự đoán</h3>
    </div>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-12">

              <a id="saveToFile" href="/edit?file_audio={{file_audio}}&classify=upload"  style="width: 100px; margin-left: 20px;" 
              onclick="return check_valid()" class="btn btn-primary float-right">Sửa</a>

              <div class="dropdown float-right">
                <button style="width: 125px; margin-left: 20px;" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tải văn bản
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" onclick="return check_valid()" href="/export-files?classify=upload">Tải file text</a>
                  <a class="dropdown-item" onclick="return check_valid()" href="/export-doc?classify=upload">Tải file doc</a>
                </div>
              </div>
                <!-- <textarea id="values" rows="12" class="form-control"></textarea> -->
            </div>
            <div class="well col-12">
                <div id="inputTextToSave" style="overflow: scroll; background: white; height: 450px">
                </div>
                <!-- <script src="{{ url_for('static', filename = 'js.js', lyrics=lyrics)}}"></script> -->
            <!-- </div> -->
            </div>
        </div>
    </div>

</div>
<footer>
</footer>
<script>

</script>
<!-- <script src=""></script> -->
<script>
    // Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
    // console.log
    var fileName = $(this).val().split("\\").pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
</script>
<script>
    $('#fileSong').bind('change', function () {
  var filename = $("#fileSong").val();
  if (/^\s*$/.test(filename)) {
    $(".file-upload").removeClass('active');
    $("#noFile").text("No file chosen..."); 
  }
  else {
    $(".file-upload").addClass('active');
    $("#noFile").text(filename.replace("C:\\fakepath\\", "")); 
  }
});
</script>
<script>
var Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 5000
});


function notifile(){
  var valSong = document.getElementById('fileSong').value;
  if (valSong == "") {
    Toast.fire({
      title: 'Bạn chưa chọn file!',
      icon: 'error',

    })
    return
  }
  // else {
  Toast.fire({
  title: 'Đang tiến hành nhận dạng!',
  icon: 'info',
    })
  
}

var textFromFileLoaded = {{lyrics|safe}};
loadFileAsText()
// console.log(textFromFileLoaded);
function check_valid() {
  if(textFromFileLoaded.length > 0){
    console.log("true");
    return true
  }
  Toast.fire({
  title: ' Đoạn văn bản nhận dạng trống !',
  icon: 'error',
    })
  return false;
}

document.getElementById('fileSong').addEventListener("change", handleFiles, false);
// ==================================================

function playSong() {
  var valSong = document.getElementById('fileSong').value;
  // var valLyric = document.getElementById('fileLyric').value;
  var actStartPause = document.querySelectorAll(".activeStartPause");

  // if (valSong == "" || valLyric == "") {
  //   alert("Please import Song or Lyric");
  //   return
  // }
  document.getElementById('audioSong').play();

  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="pauseSong();" class="activeAction">Dừng</span>';
  }
  setTimeout(function(){
  loadFileAsText();
  }, 200); 
  
}

function reloadPage(forceGet) {
  location.reload(forceGet);
}

function pauseSong() {
  document.getElementById("audioSong").pause();

  var actStartPause = document.querySelectorAll(".activeStartPause");
  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Phát</span>';
  }
}

function loadFileAsText(){
  var showLyricHtml = parseShowLyrics(textFromFileLoaded);
  var addStyleLyric = new Array();
  var linesongid = 1;
  // console.log(showLyricHtml);
  showLyricHtml.forEach(result => {
    result = "<span class='lineRunLyric' id='linesongid"+ linesongid +"'>" +result[2] + "</span>";
    linesongid++;
    addStyleLyric.push(result);
  })
  addStyleLyric = "<p>" + addStyleLyric + "</p>";
  addStyleLyric = addStyleLyric.replaceAll("</span><br />,<span", "</span><br /><span");
  document.getElementById("inputTextToSave").innerHTML = addStyleLyric;
  runLyric(textFromFileLoaded);
}

function runLyric(str) {
  // clearInterval(intervalObj);
  var myAudio = document.getElementById("audioSong");
  var playSongButton = document.querySelectorAll(".activeStartPause");
  var fileSong = document.getElementById("fileSong");
  var fileLyric = document.getElementById("fileLyric");
  var actStop = document.querySelectorAll(".activeStop");

  // debugger;
  for (let i = 0; i < playSongButton.length; i++) {
    playSongButton[i].addEventListener("click", function(){
      clearInterval(intervalObj);
      console.log("clearInterval1");
    });
  }

  for (let i = 0; i < actStop.length; i++) {
    actStop[i].addEventListener("click", function(){
      var timeLyric = parseLyrics(str);
      var totalLyric = timeLyric.length;
      for (var index = 1; index <= totalLyric; index++) {
        var lineLyric = document.getElementById("linesongid"+index);
        lineLyric.style.color = "black";
      }
      clearInterval(intervalObj);
      console.log("clearInterval2");
    });
  }

  fileSong.addEventListener("change", function(){
    myAudio.currentTime = 0;
    var getCurrentTime = formatCurrentTime(myAudio.currentTime);
    var getDuration = formatCurrentTime(myAudio.duration);
    var showCurTimeSong = document.querySelectorAll(".showCurrentTimeSong");
    clearInterval(intervalObj);
    textFromFileLoaded = "";
    document.getElementById("inputTextToSave").innerHTML = "<p><p>"
    console.log("clearInterval3");
  });

  myAudio.addEventListener("ended", function(){
    // console.log(str);
    var timeLyric = parseLyrics(str);
    var totalLyric = timeLyric.length;
    for (var index = 1; index <= totalLyric; index++) {
      var lineLyric = document.getElementById("linesongid"+index);
      lineLyric.style.color = "black";
    }

    var actStartPause = document.querySelectorAll(".activeStartPause");
    for (let i = 0; i < actStartPause.length; i++) {
      actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Start</span>';
    }
    clearInterval(intervalObj);
    console.log("clearInterval5");
  });
  // console.log("fsdfds");
  var intervalObj = setInterval(function(){

    var getCurrentTime = parseFloat(myAudio.currentTime);
    var timeLyric = parseLyrics(str);
    var showCurTimeSong = document.querySelectorAll(".showCurrentTimeSong");

    if (myAudio.currentTime == 0) {
      for (var index = 1; index <= timeLyric.length; index++) {
        var lineLyric = document.getElementById("linesongid"+index);
        lineLyric.style.color = "black";
      }
    }
    // console.log(timeLyric);
    var linesongidBE = 1;
    timeLyric.forEach(result => {
      start = parseFloat(result[0]);
      end = parseFloat(result[1]);
      if (getCurrentTime > start){
        var lineLyricChange;
        var totalLyric = parseLyrics(str).length;
        // console.log(totalLyric);
        for (let index = 1; index < linesongidBE; index++) {
          lineLyricChange = document.getElementById("linesongid"+index);
          lineLyricChange.style.color = "#8d6e63";
          
        }
        for (let index = (linesongidBE+1); index <= totalLyric; index++) {
          lineLyricChange = document.getElementById("linesongid"+index);
          lineLyricChange.style.color = "black";
        }

        var lineLyricStart = document.getElementById("linesongid"+linesongidBE);
        var lineLyricPass = document.getElementById("linesongid"+(linesongidBE -1))
        lineLyricStart.style.color = "#FF4000";
        // lineLyricStart.style.fontWeight = "bold";
        if (lineLyricPass) {
          lineLyricPass.style.color = "#8d6e63";
          // lineLyricPass.style.fontWeight = "normal";
        }
        };
      linesongidBE++;
    });
  }, 5)
}

function simpleFormat(str) {
  str = str.replace(/\r\n?/, "\n");
  str = $.trim(str);
  if (str.length > 0) {
    str = str.replace(/\n\n+/g, '</p><p>');
    str = str.replace(/\n/g, '<br />');
    str = '<p>' + str + '</p>';
  }
  return str;
}

function handleFiles(event) {
	var files = event.target.files;
  $("#srcSong").attr("src", URL.createObjectURL(files[0]));
  document.getElementById("audioSong").load();

  var actStartPause = document.querySelectorAll(".activeStartPause");
  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Start</span>';
  }
}

function parseLyrics(lyricImport) {
  // var parseLyrics = simpleFormat(lyricImport)
  // parseLyrics = parseLyrics.replaceAll("<p>", "");
  // parseLyrics = parseLyrics.replaceAll("</p>", "");
  var sPlit = lyricImport

  var newArr = new Array();
  sPlit.forEach(element => {
    var array_lyrics = element.split(']')
    var array_time = array_lyrics[0].split(',')
    var start_time = array_time[0].replace('[', '')
    var end_time = array_time[1].replace(']', '')
    var lyric = array_lyrics[1]
    var setSplit = ",,,.,,,"
    element = start_time + setSplit + end_time + setSplit + lyric;

    var createArr = element.split(setSplit);
    newArr.push(createArr);
  });
  
  var newArr1 = new Array();
  newArr.forEach(result => {
    if (result[2] !== "") {
      newArr1.push(result)
    }
  });
  return newArr1;
}

function parseShowLyrics(lyricImport) {
  var showLyricHtml = parseLyrics(lyricImport);
  // console.log(showLyricHtml);
  // console.log(newArr);
  return showLyricHtml;
}

</script>
{% endblock %}