{% extends "base.html" %}
{% block content %}
<div class="wrapper">
    <h2 class="text-center" style="margin-top: 30px;">PHẦN MỀM NHẬN DẠNG TIẾNG NÓI</h2>
    <div class="container" style="margin-top: 30px;">
        <div id="menu">
            <ul>
            <li><a href="/">Tải từ máy tính</a></li>
            <li><a href="/tab">Ghi Âm</a></li>
            <li><a href="/tab_rt">Ghi Âm RT</a></li>
            <li><a href="/manage/1">Quản lý</a></li>
            </ul>
          </div>
        <div style="margin-top: 10px;"  class="row">
            <div class="col-5">
                <div id="controls">
                    <button class="btn" style="width: 100px; color: white; background-color: red" id="recordButton">Ghi Âm</button>
                    <!-- <button class="btn btn-primary" style="width: 120px; margin-left: 20px;" id="pauseButton" disabled>Tạm Dừng</button> -->
                    <button class="btn btn-primary" style="width: 100px; margin-left: 20px;" id="stopButton" disabled>Dừng</button>
                </div>
            </div>
            <div class="col-1 sidenav hidden-xs">
                <ul class="nav nav-pills nav-stacked">
                    <li class="activeStartPause">
                    <span onclick="playSong();" class="activeAction">Phát</span>
                    </li>
                    <hr>
                </ul>
            </div>
            <div class="col-6">
              {%if file_audio != ""%}
              <span class="text-center" style="position: absolute; left: 28%; font-size: 12px; z-index: 999;">{{file_audio.split("/")[-1]}}</span>
              {%endif%}
              <audio style="width:100%" id="audio_record" preload="metadata" controls>
                    <source  id="wav_audio_record" src="{{file_audio}}" type="audio/mpeg">
                </audio>
            </div>
            <!-- <div class="col-2">
                <button style="width: 120px;" onclick="return check_song()" id="button_upload" type="submit" class="btn btn-primary">Làm mới</button>
            </div> -->
        </div>
        <h3 style="text-align: center; margin-top: 10px;">Đoạn văn được dự đoán</h3>
        <div class="row content">
            <div class="col-12">

              <a id="saveToFile" href="/edit?id_audio={{id_audio}}" style="width: 100px; margin-left: 20px;"
              onclick="return check_valid()" class="btn btn-warning float-right">Sửa</a>

              <div class="dropdown float-right">
                <button style="width: 125px; margin-left: 20px;" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tải văn bản
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a id="dowloadFileAudio" class="dropdown-item" onclick="return check_valid()" href="/export-files/{{id_audio}}">Tải file text</a>
                  <a id="dowloadFileDoc" class="dropdown-item" onclick="return check_valid()" href="/export-doc/{{id_audio}}">Tải file doc</a>
                </div>
              </div>

                <!-- <textarea id="values" rows="12" class="form-control"></textarea> -->

            </div>
            <div class="well col-12">
                <div id="inputTextToSave" style="overflow: scroll; background: white; height: 450px">
                </div>
                <!-- <script src="{{ url_for('static', filename = 'js.js', lyrics=lyrics)}}"></script> -->
            <!-- </div> -->
            </div>

        </div>

    </div>
</div>
<!-- <script src="./static/js/recorder.js"></script> -->

<script>
    $(function() {
    $('#saveToFile').click(function(e) {
        var data = document.getElementById('values').value;
        var data = 'data:application/csv;charset=utf-8,' + encodeURIComponent(data);
        var el = e.currentTarget;
        el.href = data;
        el.target = '_blank';
        el.download = 'data.txt';
    });
    });
</script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
<script src="./static/script.js"></script>
{% endblock %}
