{% extends "base.html" %}
{% block content %}

<style type="text/css">

  .btn-circle.btn-xl {
      /* color-scheme: brown; */
      width: 100px;
      height: 100px;
      padding: 10px 16px;
      border-radius: 45px;
      font-size: 12px;
      text-align: center;
      
  }
  .mic-icon {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 29px;
    height: 25px;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border: 4px solid;
    border-top: 0;
    margin-top: 3px;
}
.mic-icon::before {
    width: 20px;
    height: 7px;
    top: 22px;
    left: 1px;
    border-right: 8px solid transparent;
    box-shadow: 0 4px 0, inset -4px 0 0;
}
.mic-icon::after {
    border: 2px solid;
    width: 16px;
    height: 32px;
    left: 2px;
    top: -14px;
    border-radius: 8px;
    background-color: #000;
}
.mic-icon::after, .mic-icon::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
}

#mic-btn {
    cursor: pointer;
    border: none;
    background-color: #efefef;
    border-radius: 50%;
    padding: 15px;
    height: 80px;
    min-height: 80px;
    width: 80px;
    margin: 48px 0 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mic-btn:hover {
        background-color: #e4e4e4;
      }

      #mic-btn.recording {
        animation: mic-recording 1000ms linear infinite alternate;
      }
      .animating-spinner {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
      }

      .animating-spinner div {
        transform-origin: 20px 20px;
        animation: animating-spinner 1.2s linear infinite;
      }

      .animating-spinner div:after {
        content: " ";
        display: block;
        position: absolute;
        top: 1px;
        left: 18px;
        width: 3px;
        height: 9px;
        border-radius: 20%;
        background: #000;
      }

      .animating-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
      }

      .animating-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
      }

      .animating-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
      }

      .animating-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
      }

      .animating-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
      }

      .animating-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
      }

      .animating-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
      }

      .animating-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
      }

      .animating-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
      }

      .animating-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
      }

      .animating-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
      }

      .animating-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
      }

      .hide {
        display: none;
      }

      @keyframes animating-spinner {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      @keyframes mic-recording {
        from {
          background-color: rgba(255, 0, 0, 0.5);
        }

        to {
          background-color: rgba(255, 0, 0, 0.9);
        }
      }

      @media screen and (max-width: 650px) {
        #transcript {
          min-width: unset;
          width: 95%;
        }
      }

      @media screen and (max-width: 945px) {
        #mic-btn {
          margin-top: 24px;
        }

        #input-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        #uri-input-label,
        #extra-options-label {
          text-align: center;
        }
      }
</style>

<div class="wrapper">
    <h2 class="text-center" style="margin-top: 20px;">PHẦN MỀM NHẬN DẠNG TIẾNG NÓI</h2>
    <div class="container" style="margin-top: 10px;">
        <div id="menu">
            <ul>
            <li><a href="/">Tải từ máy tính</a></li>
            <li><a href="/tab">Ghi Âm</a></li>
            <li><a href="/tab_rt">Ghi Âm RT</a></li>
            <li><a href="/manage/1">Quản lý</a></li>
            </ul>
          </div>
        <div style="margin-top: -50px;"  class="row">
            <div class="col-lg-1" style="margin:auto;">
              <button id="mic-btn">
                <div class="mic-icon"  id="mic-btn-icon" ></div>
                <div id="mic-btn-loader" class="animating-spinner hide"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
              </button>
                    
                    
                    <!-- <button class="btn btn-primary" style="width: 120px; margin-left: 20px;" id="pauseButton" disabled>Tạm Dừng</button> -->
                    <!-- style="width: 100px;" -->
                    <!-- <button class="btn btn-primary" style="width: 100px; margin-left: 20px;" id="stopButton" disabled>Dừng</button> -->
                
            </div>
            <!-- <div class="col-1 sidenav hidden-mic-btn {
        cursor: pointer;
        border: none;
        background-color: #efefef;
        border-radius: 50%;
        padding: 15px;
        height: 80px;
        min-height: 80px;
        width: 80px;
        margin: 48px 0 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }xs">
                <ul class="nav nav-pills nav-stacked">
                    <li class="activeStartPause">
                    <span onclick="playSong();" class="activeAction">Phát</span>
                    </li>
                    <hr>
                </ul>
            </div>
            <div class="col-4">
              {%if file_audio != ""%}
              <span class="text-center" style="position: absolute; left: 28%; font-size: 12px; z-index: 999;">{{file_audio.split("/")[-1]}}</span>
              {%endif%}
              <audio id="audio_record" controls>
                    <source src="{{file_audio}}" type="audio/mpeg">
                </audio>
            </div> -->
            <!-- <div class="col-2">
                <button style="width: 120px;" onclick="return check_song()" id="button_upload" type="submit" class="btn btn-primary">Nhận dạng</button>
            </div> -->
        </div>
        <h3 style="text-align: center; margin-top: 05px;">Đoạn văn được dự đoán</h3>
        <div class="row content">
            <div class="col-12">

              <!-- <a id="saveToFile" href="/edit?id_audio={{id_audio}}" style="width: 100px; margin-left: 20px;"
              onclick="return check_valid()" class="btn btn-primary float-right">Sửa</a>

              <div class="dropdown float-right">
                <button style="width: 125px; margin-left: 20px;" class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Tải văn bản
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" onclick="return check_valid()" href="/export-files/{{id_audio}}">Tải file text</a>
                  <a class="dropdown-item" onclick="return check_valid()" href="/export-doc/{{id_audio}}">Tải file doc</a>
                </div>
              </div> -->

                <!-- <textarea id="values" rows="12" class="form-control"></textarea> -->

            </div>
            <div class="well col-12">
                <div id="inputTextToSave" style="overflow: scroll; background: white; height: 450px">
                </div>
                <!-- <script src="{{ url_for('static', filename = 'js.js', lyrics=lyrics)}}"></script> -->
            <!-- </div> -->
            </div>

        </div>

    </div>
</div>
<!-- <script src="./static/js/recorder.js"></script> -->
<script src="./static/client.js"></script>
<script>
    $(function() {
    $('#saveToFile').click(function(e) {
        var data = document.getElementById('values').value;
        var data = 'data:application/csv;charset=utf-8,' + encodeURIComponent(data);
        var el = e.currentTarget;
        el.href = data;
        el.target = '_blank';
        el.download = 'data.txt';
    });
    });
</script>
<script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
<script>
var Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 5000
});
var textFromFileLoaded = {{lyrics|safe}};
var spellMistake =  {{spell_mistake|safe}} ;
loadFileAsText()
function playSong() {
//   var valSong = document.getElementById('fileSong').value;
  // var valLyric = document.getElementById('fileLyric').value;
  var actStartPause = document.querySelectorAll(".activeStartPause");

  // if (valSong == "" || valLyric == "") {
  //   alert("Please import Song or Lyric");
  //   return
  // }
  document.getElementById('audio_record').play();

  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="pauseSong();" class="activeAction">Dừng</span>';
  }
  setTimeout(function(){
  loadFileAsText();
  }, 200); 
  
}
function pauseSong() {
  document.getElementById("audio_record").pause();

  var actStartPause = document.querySelectorAll(".activeStartPause");
  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Phát</span>';
  }
}

function check_song(){
    var au = document.getElementById('audio_record');
    var src = au.src;
    console.log(src)
    if (src.length < 1){
        Toast.fire({
        title: 'Bạn chưa ghi âm!',
        icon: 'error'
        });
        return false;
    };
    Toast.fire({
    title: 'Đang tiến hành nhận dạng!',
    icon: 'info',
    })
    return true;
}
function check_valid() {
  if(textFromFileLoaded.length > 0){
    console.log("true");
    return true
  }
  Toast.fire({
  title: ' Đoạn văn bản nhận dạng trống !',
  icon: 'error',
    })
  return false;
}
function loadFileAsText(){
  var showLyricHtml = parseShowLyrics(textFromFileLoaded);
  var addStyleLyric = new Array();
  var linesongid = 1;
  // console.log(showLyricHtml);
  showLyricHtml = addHighlight(showLyricHtml, spellMistake);
  showLyricHtml.forEach(result => {
    result = "<span class='lineRunLyric' id='linesongid"+ linesongid +"'>" +result[2] + "</span>";
    linesongid++;
    addStyleLyric.push(result);
  })
  addStyleLyric = "<p>" + addStyleLyric + "</p>";
  addStyleLyric = addStyleLyric.replaceAll("</span><br />,<span", "</span><br /><span");
  document.getElementById("inputTextToSave").innerHTML = addStyleLyric;
  runLyric(textFromFileLoaded);
}

function addHighlight(text, spellMistake){
  spellMistake.forEach(result => {
    // console.log(result);
    reText = text[result['sentence']][2];
    text[result['sentence']][2] = reText.substring(0, result['start_index']) + "<span class='highlight'>" + 
      reText.substring(result['start_index'],result['end_index']) + "</span>" + reText.substring(result['end_index'], reText.length);
    // console.log(text[result['sentence']][2]);
  }
  )
  return text;
}


function runLyric(str) {
  // clearInterval(intervalObj);
  var myAudio = document.getElementById("audio_record");
  var playSongButton = document.querySelectorAll(".activeStartPause");
  var fileLyric = document.getElementById("fileLyric");
  var actStop = document.querySelectorAll(".activeStop");

  // debugger;
  for (let i = 0; i < playSongButton.length; i++) {
    playSongButton[i].addEventListener("click", function(){
      clearInterval(intervalObj);
      console.log("clearInterval1");
    });
  }

  for (let i = 0; i < actStop.length; i++) {
    actStop[i].addEventListener("click", function(){
      var timeLyric = parseLyrics(str);
      var totalLyric = timeLyric.length;
      for (var index = 1; index <= totalLyric; index++) {
        var lineLyric = document.getElementById("linesongid"+index);
        lineLyric.style.color = "black";
      }
      clearInterval(intervalObj);
      console.log("clearInterval2");
    });
  }

  myAudio.addEventListener("ended", function(){
    // console.log(str);
    var timeLyric = parseLyrics(str);
    var totalLyric = timeLyric.length;
    for (var index = 1; index <= totalLyric; index++) {
      var lineLyric = document.getElementById("linesongid"+index);
      lineLyric.style.color = "black";
    }

    var actStartPause = document.querySelectorAll(".activeStartPause");
    for (let i = 0; i < actStartPause.length; i++) {
      actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Start</span>';
    }
    clearInterval(intervalObj);
    console.log("clearInterval5");
  });
  // console.log("fsdfds");
  var intervalObj = setInterval(function(){

    var getCurrentTime = parseFloat(myAudio.currentTime);
    var timeLyric = parseLyrics(str);
    var showCurTimeSong = document.querySelectorAll(".showCurrentTimeSong");

    if (myAudio.currentTime == 0) {
      for (var index = 1; index <= timeLyric.length; index++) {
        var lineLyric = document.getElementById("linesongid"+index);
        lineLyric.style.color = "black";
      }
    }
    // console.log(timeLyric);
    var linesongidBE = 1;
    timeLyric.forEach(result => {
      start = parseFloat(result[0]);
      end = parseFloat(result[1]);
      if (getCurrentTime > start){
        var lineLyricChange;
        var totalLyric = parseLyrics(str).length;
        // console.log(totalLyric);
        for (let index = 1; index < linesongidBE; index++) {
          lineLyricChange = document.getElementById("linesongid"+index);
          lineLyricChange.style.color = "#8d6e63";
          
        }
        for (let index = (linesongidBE+1); index <= totalLyric; index++) {
          lineLyricChange = document.getElementById("linesongid"+index);
          lineLyricChange.style.color = "black";
        }

        var lineLyricStart = document.getElementById("linesongid"+linesongidBE);
        var lineLyricPass = document.getElementById("linesongid"+(linesongidBE -1))
        lineLyricStart.style.color = "#FF4000";
        // lineLyricStart.style.fontWeight = "bold";
        if (lineLyricPass) {
          lineLyricPass.style.color = "#8d6e63";
          // lineLyricPass.style.fontWeight = "normal";
        }
        };
      linesongidBE++;
    });
  }, 5)
}

function simpleFormat(str) {
  str = str.replace(/\r\n?/, "\n");
  str = $.trim(str);
  if (str.length > 0) {
    str = str.replace(/\n\n+/g, '</p><p>');
    str = str.replace(/\n/g, '<br />');
    str = '<p>' + str + '</p>';
  }
  return str;
}

function handleFiles(event) {
	var files = event.target.files;
  $("#srcSong").attr("src", URL.createObjectURL(files[0]));
  document.getElementById("audioSong").load();

  var actStartPause = document.querySelectorAll(".activeStartPause");
  for (let i = 0; i < actStartPause.length; i++) {
    actStartPause[i].innerHTML = '<span onclick="playSong();" class="activeAction">Start</span>';
  }
}

function parseLyrics(lyricImport) {
  // var parseLyrics = simpleFormat(lyricImport)
  // parseLyrics = parseLyrics.replaceAll("<p>", "");
  // parseLyrics = parseLyrics.replaceAll("</p>", "");
  var sPlit = lyricImport

  var newArr = new Array();
  sPlit.forEach(element => {
    var array_lyrics = element.split(']')
    var array_time = array_lyrics[0].split(',')
    var start_time = array_time[0].replace('[', '')
    var end_time = array_time[1].replace(']', '')
    var lyric = array_lyrics[1]
    var setSplit = ",,,.,,,"
    element = start_time + setSplit + end_time + setSplit + lyric;

    var createArr = element.split(setSplit);
    newArr.push(createArr);
  });
  
  var newArr1 = new Array();
  newArr.forEach(result => {
    if (result[2] !== "") {
      newArr1.push(result)
    }
  });
  return newArr1;
}

function parseShowLyrics(lyricImport) {
  var showLyricHtml = parseLyrics(lyricImport);
  // console.log(showLyricHtml);
  // console.log(newArr);
  return showLyricHtml;
}
</script>
{% endblock %}